/* Write your code here. */
.bg-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.gallery-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img-container {
  list-style-type: none;
  display: flex;
}
